/* *{
  border: 1px red solid;
} */

:root {
  /* colors */
  --red: #F3403B;
  --yellow: #FFC548;
  --green: #00B588;
  --blue: #6b81ef;
  --black: #151515;
  --white: #FBFBFB;
}


/*font-family: "louvette-pixel", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "archivo", sans-serif;
font-weight: 400;
font-style: normal;
*/

html {
  height: 100%;
  width: 100%;
  background-color: #FFC548;
}

#awning {
  width: 100%;
  height: auto;
  margin-top: -50px
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -225px;
  margin-bottom: 125px;
}

.title h1{
  font-family: "louvette-pixel", sans-serif;
  font-size: 76px;
  font-weight: 400;
  color: #151515;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
}

.title p{
  font-family: "louvette-pixel", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #151515;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
}

.product-card {
  max-width: 12em;
  background-color: #FBFBFB;
  padding: 1em;
  border: 5px solid #6b81ef;
  border-radius: 10px;
  /* box-shadow: 0 1px 5px #151515; */
  font-family: Arial, Helvetica, sans-serif;
  transition: .2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.product-card img {
  max-width: 100%;
}

.product-card p {
  font-family: "archivo", sans-serif;
  max-width: 100%;
  font-size: 50px;
  text-align: center;
}
.product-card h4 {
  font-family: "archivo", sans-serif;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 1px;
  margin: 5px 0;
}
.product-card div {
  font-family: "archivo", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .add-button {
  background-color: #F3403B;
  color: #FBFBFB;
  font-family: "archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 5%;

  width: 50px;
  height: 25px;
  transition: .2s;
  margin-left: 40px;

}

.product-card.active .add-button{
  background-color: #F3403B;
  transition: .2s;
}


.product-card.active {
  background-color: #E8E8E8;
  color: #151515;
  transition: .2s;

}
.add-button:hover {
  color: #FBFBFB;
  background-color: #00B588;
}

.product-card.active .add-button {
  color: #FBFBFB;
  background-color: #00B588;
  transform: rotate(0deg);
  transition: .2s;
} */

.add-button {
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 1em;
  transition: .2s;
  cursor: pointer;

}

.product-card.active .add-button{
  background-color: red;
  transform: rotate(45deg);
  transition: .2s;
}


.product-card.active {
  background-color: #c2ccd6;
  color: #fff;
  transition: .2s;

}
.add-button:hover {
  color: #000;
  background-color: green;
}

.product-card.active .add-button {
  color: #000;
  background-color: red;
  transform: rotate(45deg);
  transition: .2s;
}


.products-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  padding: 1em;
}

#billionaire-container{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
}

#billionaire-selector {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  height: 300px;
}

.billionaire-card {
  left: 0;
  top: 0;
  text-align: center;
  transition: transform 0.35s ease;
}

.billionaire-card img {
  height: 30%;
  /* border-radius: 50%; */
  transition: transform 0.35s ease;
}

.billionaire-card span {
  display: block;
  opacity: 0;
  font-size: 12px;
  transition: opacity 0.25s;
}


/*#billionaire-selector:hover .billionaire-card {
  transform: scale(1.25);*/
/* } */

#selected-info{
  display:flex;
  align-items:center;
  gap:10px;
  min-width:200px;
}

#selected-head img{
  height: 100px;
  border-radius:50%;
  filter: drop-shadow(0 0 10px gold);
}

.counter {
  width: 60%;
  position: sticky;
  bottom: 0;
  background-color: #6b81ef;
  color: #FBFBFB;
  padding: 1em;
  border-radius: 10px 0 0 0;
}

#billionaire-name{
  font-family: louvette-pixel, sans-serif;
  font-size: 46px;
  letter-spacing: 1px;
  font-weight: 400
}

#billionaire-money{
  font-family: louvette-pixel, sans-serif;
  font-size: 46px;
  letter-spacing: 1px;
  font-weight: 400
}

.counter p{
  font-family: "archivo", sans-serif;
  font-size: 26px;
  letter-spacing: 1px
}

#warning{
  font-family: "archivo", sans-serif;
  font-size: 26px;
  letter-spacing: 1px
}

.collapsible {
  background-color: #FBFBFB;
  color: #151515;
  cursor: pointer;
  padding: 21px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: "archivo", sans-serif;
  font-size: 16px;
}

.active, .collapsible:hover {
  background-color: #FBFBFB;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #FBFBFB;
  font-family: "archivo", sans-serif;
}